* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: #f14869;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  background-color: white;
  border-radius: 25px;
  padding: 20px 30px;
  color: #7f7f7f;
  line-height: 30px;
  width: 350px;
  height: 610px;
}

#urlImg {
  display: block;
  border: 1px solid #e3e3e3;
  padding: 5px 10px;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 10px;
}

#urlSubmit_btn {
  display: block;
  background-color: #f14869;
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
  width: 100%;
  border: 1px solid transparent;
  transition: all 0.3s;
}

#urlSubmit_btn:hover {
  background-color: white;
  color: #f14869;
  border: 1px solid #f14869;
}

#linkEx {
  line-height: 20px;
  width: 100%;
}

.bar {
  display: block;
  width: 100%;
}

#img {
  width: 400px;
  background-color: white;
  border-radius: 0 20px 20px 0;
}

input[type="range" i] {
  /* background-color: rgb(99, 82, 255); */
  /* appearance: none; */
  cursor: grab;
}
#img_origin {
  width: 400px;
  background-color: white;
  border-radius: 20px 0 0 20px;
}

#btn_download_img {
  background-color: #f14869;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  margin-top: 5px;
  font-size: 15px;
  transition: all 0.3s;
}

#btn_download_img:hover {
  background-color: white;
  color: #f14869;
  border: 1px solid #f14869;
}

h2 {
  font-weight: 700;
  /* background-color: red; */
  color: transparent;

  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-clip: text;
  background-size: 400%;
  /* animation: rainbow 5s infinite; */
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
